<div>
  <div class="card">
    <div class="card-header bg-white">
      <div clas="row">
        <h4 style="display: inline-block;">&nbsp;&nbsp;Server and Log Monitoring</h4>
      </div>
    </div>
    <!-- <div class="card-body"> -->
    <div class="card border-info" id="bordered-panel">
      <div class="card-body">
        <ag-grid-angular style="height: 400px;" class="ag-theme-balham" [rowData]="rowData" [enableCellTextSelection]="true"
                          [gridOptions]="gridOptions" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef">
        </ag-grid-angular>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>