<div>
  <div class="card">
    <div class="card-header bg-white">
      <div clas="row">
        <h4 style="display: inline-block;">&nbsp;&nbsp;Participants</h4>
      </div>
    </div>
    <!-- <div class="card-body"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card border-info">
          <div class="card-body">
            <div class="card-body bordered-panel">
              <div class="float-right">
                <button type="button" class="btn btn-success" style="margin-left: 10px;margin-top: 30px" (click)="exportGrid()">Export as
                  CSV</button>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="region">Select Region</label>
                    <div class="input-group">
                      <select class="form-control" name="region" #region [(ngModel)]="selectedRegion">
                        <option [value]="0">None</option>
                        <option *ngFor="let name of regions" id="region" [value]="name">{{name}}
                        </option>
                      </select>
                      <button class="btn btn-primary" (click)="onRegionFilter()">Filter</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="univ">Select University</label>
                    <div class="input-group">
                      <select class="form-control" name="univ" #univ [(ngModel)]="selectedUniversity">
                        <option [value]="0">None</option>
                        <option *ngFor="let name of universities" id="univ" [value]="name">{{name}}
                        </option>
                      </select>
                      <button class="btn btn-primary" (click)="onUniversityFilter()">Filter</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="badge">Select Badge</label>
                    <div class="input-group">
                      <select class="form-control" name="badge" #badge [(ngModel)]="selectedBadge">
                        <option [value]="0">None</option>
                        <option *ngFor="let name of badges" id="badge" [value]="name">{{name}}
                        </option>
                      </select>
                      <button class="btn btn-primary" (click)="onBadgeFilter()">Filter</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <button class="btn btn-primary" style="margin-top: 30px" (click)="clearFilter()">Clear Filter</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ag-grid-angular style="height: 400px;" class="ag-theme-balham" [rowData]="rowData"
                  [gridOptions]="gridOptions" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                  [groupMultiAutoColumn]="true">
                </ag-grid-angular>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" style="padding: 20px;">
                <div class="container bordered-panel">
                  <p><b>Total Participants displayed: </b>{{ displayedRowCount }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>