<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<section class="hero is-small is-bold ">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Global Coding Challenge 2.0</h1>
    </div>
  </div>
</section>
<div class="card-body">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical is-6 has-text-dark">
      <div class="tile">
        <div class="tile is-parent is-vertical is-8 has-text-dark">
          <div class="tile is-child box has-background-light">
            <div class="title">
              <h2 style="text-align:center">{{highestScoreNew | number : '1.2-2'}}</h2>
            </div>
            <div class="subtitle">
              <h5 style="text-align:center">Highest Score</h5>
            </div>
          </div>
          <div class="tile is-child box has-background-light">
            <div class="title">
              <h2 style="text-align:center">{{topScorerNew}}</h2>
            </div>
            <div class="subtitle">
              <h5 style="text-align:center">Top Scorer</h5>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-vertical is-4">
          <div class="tile is-child box has-background-light">
            <div class="title is-center">
              <h2 style="text-align:center">{{totalParticipantsNew}}</h2>
            </div>
            <div class="subtitle">
              <h5 style="text-align:center">Total Participants</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent has-text-dark">
        <div class="tile is-child box has-background-light">
          <div class="title">
            <h2 style="text-align:center"><countdown [config]="config"></countdown></h2>
          </div>
          <div class="subtitle">
            <h5 style="text-align:center">Ends In</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box has-background-light">
        <div class="tile">
          <div class="tile is-parent is-vertical has-text-dark">
            <div class="content">
              <table style="width:100%">
                <tr>
                  <th>Region</th>
                  <th>Top Scorer</th>
                  <th>Leading University</th>
                </tr>
                <tr>
                  <td>AMC</td>
                  <td>{{AMCTopScorer}}</td>
                  <td>{{AMCTopUniv}}</td>
                </tr>
                <tr>
                  <td>EUROPE</td>
                  <td>{{EUROPETopScorer}}</td>
                  <td>{{EUROPETopUniv}}</td>
                </tr>
                <tr>
                  <td>INDIA</td>
                  <td>{{INDIATopScorer}}</td>
                  <td>{{INDIATopUniv}}</td>
                </tr>
                <tr>
                  <td>ROW</td>
                  <td>{{ROWTopScorer}}</td>
                  <td>{{ROWTopUniv}}</td>
                </tr>
                <tr>
                  <td>SEA</td>
                  <td>{{SEATopScorer}}</td>
                  <td>{{SEATopUniv}}</td>
                </tr>
                <tr>
                  <td>SWIS</td>
                  <td>{{SWISTopScorer}}</td>
                  <td>{{SWISTopUniv}}</td>
                </tr>
                <tr>
                  <td>UK</td>
                  <td>{{UKTopScorer}}</td>
                  <td>{{UKTopUniv}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ticket status bar -->
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p style="font-size:2vw">Ticket Status</p>
    </div>
  </div>
  <div class="level-item has-text-centered border-default">
    <div>
      <p class="heading">Open</p>
      <p class="subtitle">{{openTickets}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered border-default">
    <div>
      <p class="heading">In Progress</p>
      <p class="subtitle">{{inProgressTickets}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered border-default">
    <div>
      <p class="heading">Closed</p>
      <p class="subtitle">{{closedTickets}}</p>
    </div>
  </div> 
 </nav> 



 <!-- Ticket Alert Message -->
<article class="message is-danger is-small">
    <div class="message-body" *ngIf="isTicketPendingHtml">
      <p>Ticket Alert : Number of non-university tickets pending over 2 days is {{pendingTicketsNumber}}. <br>
         Need immediate attention to tickets submitted by {{pendingTicketsSubmittedByShort}}</p>
    </div>
</article>



