<div>
  <div class="card">
    <div class="card-header bg-white">
      <div clas="row">
        <h4 style="display: inline-block;">&nbsp;&nbsp;Analytics</h4>
      </div>
    </div>
    <!-- <div class="card-body"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <ngb-tabset (tabChange)="activeTab = $event.nextId">
              <ngb-tab [id]="tab.id" *ngFor="let tab of tabs">
                <ng-template ngbTabTitle>
                  <span>{{ tab.title }}</span>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body" style="color: white" style="padding: 15px" *ngIf="activeTab === 1">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="card border-default">
                          <div class="card-header bg-default">
                            Number of Submissions Per Week
                            <div class="pull-right">
                              <button class="btn btn-sm btn-success">
                                <a href="#" style="color: white" title="Export to png" (click)="downloadNoOfSubmissionsPerWeek($event)">Export</a>
                              </button>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="chart-wrapper">
                              <canvas baseChart 
                                  height="300px"
                                  [datasets]="SubmissionsPerWeekBarChartData"
                                  [labels]="SubmissionsPerWeekBarChartLabels"
                                  [options]="SubmissionsPerWeekBarChartOptions"
                                  [colors]="SubmissionsPerWeekBarChartColors"
                                  [legend]="barChartLegend"
                                  [plugins]="ChartPlugins"
                                  [chartType]="barChartType">
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card border-default">
                          <div class="card-header bg-default">
                            Correct Submissions Per Region
                            <div class="pull-right">
                              <button class="btn btn-sm btn-success">
                                <a href="#" style="color: white" title="Export to png" (click)="downloadCorrectSubmissionsPerRegion($event)">Export</a>
                              </button>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="chart-wrapper">
                              <canvas baseChart
                                height="300px"
                                width="300px"
                                [datasets]="CorrectSubmissionsPerRegionChartData"
                                [labels]="CorrectSubmissionsPerRegionChartLabels"
                                [chartType]="doughnutChartType"
                                [legend]="barChartLegend"
                                [plugins]="ChartPlugins"
                                [options]="chartOptions">
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card border-default">
                          <div class="card-header bg-default">
                            Attempts Per Question
                            <div class="pull-right">
                              <button class="btn btn-sm btn-success">
                                <a href="#"  style="color: white" title="Export to png" (click)="downloadAttemptsPerQuestion($event)">Export</a>
                              </button>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="chart-wrapper">
                              <canvas baseChart 
                                height="300px"
                                [datasets]="AttemptsPerQuestionBarChartData"
                                [labels]="AttemptsPerQuestionBarChartLabels"
                                [options]="AttemptsPerQuestionBarChartOptions"
                                [colors]="AttemptsPerQuestionBarChartColors"
                                [legend]="barChartLegend"
                                [plugins]="ChartPlugins"
                                [chartType]="barChartType">
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                      <div class="col-sm-4">
                        <div class="card border-default">
                          <div class="card-header bg-default">
                            Number of Submissions Per Language
                            <div class="pull-right">
                              <button class="btn btn-sm btn-success">
                                <a href="#" style="color: white" title="Export to png" (click)="downloadNoOfSubmissionsPerLang($event)">Export</a>
                              </button>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="chart-wrapper">
                              <canvas baseChart
                                height="300px"
                                width="300px"
                                [datasets]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [legend]="barChartLegend"
                                [plugins]="ChartPlugins"
                                [options]="chartOptions">
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card border-default">
                          <div class="card-header bg-default">
                            Accepted vs Rejected Solutions
                            <div class="pull-right">
                              <button class="btn btn-sm btn-success">
                                <a href="#" style="color: white" title="Export to png" (click)="downloadAcceptedVsRejected($event)">Export</a>
                              </button>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="chart-wrapper">
                              <canvas baseChart 
                                height="300px"
                                width="300px"
                                [datasets]="AcceptedVsRejectedLineChartData" 
                                [labels]="AcceptedVsRejectedLineChartLabels" 
                                [options]="AcceptedVsRejectedLineChartOptions"
                                [colors]="AcceptedVsRejectedLineChartColors" 
                                [legend]="'true'" 
                                [plugins]="ChartPlugins"
                                [chartType]="'line'">
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" style="padding: 15px" *ngIf="activeTab === 2">
                    <questionwise-statistics></questionwise-statistics>
                  </div>
                  <div class="card-body" style="padding: 15px" *ngIf="activeTab === 3">
                    <registration-statistics></registration-statistics>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>