<div class="row">
  <form>
    <div class="form-group">
      <label for="question">Filter By Question</label>
      <select class="form-control" name="question"  #item (click)="onQuestionChange(item.value)">
        <option *ngFor="let quest of questions" id="question" [value]="quest">{{quest}}
        </option>
      </select>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card border-default">
      <div class="card-header bg-default">
        Successful Submissions Per Week
        <div class="pull-right">
          <button class="btn btn-sm btn-success">
            <a href="#" style="color: white"  title="Export to png" (click)="downloadSuccSubsPerWeek($event)">Export</a>
          </button>
        </div>
      </div>
      <div class="card-body">
        <canvas baseChart height="250px"
          [datasets]="SuccessfulSubmissionsPerWeekLineChartData"
          [labels]="SuccessfulSubmissionsPerWeekLineChartLabels"
          [options]="SuccessfulSubmissionsPerWeekLineChartOptions"
          [colors]="SuccessfulSubmissionsPerWeekLineChartColors"
          [legend]="barChartLegend"
          [plugins]="ChartPlugins"
          [chartType]="'line'">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-default">
      <div class="card-header bg-default">
        Number of Submissions Per Language
        <div class="pull-right">
          <button class="btn btn-sm btn-success">
            <a href="#" style="color: white"  title="Export to png" (click)="downloadSubsPerLanguage($event)">Export</a>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart
            height="250px"
            width="250px"
            [data]="NoOfSubmissionsPerLanguageChartData"
            [labels]="NoOfSubmissionsPerLanguageChartLabels"
            [legend]="barChartLegend"
            [plugins]="ChartPlugins"
            [options]="chartOptions"
            [chartType]="NoOfSubmissionsPerLanguageChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-default">
      <div class="card-header bg-default">
        Correct Submissions Per Region
        <div class="pull-right">
          <button class="btn btn-sm btn-success">
            <a href="#" style="color: white"  title="Export to png" (click)="downloadCorrectSubsPerRegion($event)">Export</a>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart
            height="250px"
            [datasets]="CorrectSubmissionsPerRegionBarChartData"
            [labels]="CorrectSubmissionsPerRegionBarChartLabels"
            [options]="CorrectSubmissionsPerRegionBarChartOptions"
            [colors]="CorrectSubmissionsPerRegionBarChartColors"
            [legend]="barChartLegend"
            [plugins]="ChartPlugins"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>