<div>
  <div class="card">
    <div class="card-header bg-white">
      <div clas="row">
        <h4 style="display: inline-block;">&nbsp;&nbsp;News & Media</h4>
      </div>
    </div>
    <!-- <div class="card-body"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card border-info" id="bordered-panel">
          <div class="card-body">
            <ngb-tabset (tabChange)="onTabChange($event.nextId)">
              <ngb-tab [id]="tab.id" *ngFor="let tab of tabs">
                <ng-template ngbTabTitle>
                  <span (click)="activeTab = tab.title">{{ tab.title }}</span>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body" style="padding: 15px" *ngIf="activeTab === 'Latest Content'">
                    <div class="row">
                      <div class="col-sm-12">
                        <form>
                          <div style="display: inline-block; padding-right: 20px;" *ngFor="let region of regions">
                            <label class="form-check-inline">
                              <input class="form-check-input" type="radio" name="mode" [value]="region"
                                [(ngModel)]="selectedRegion" (click)="onRegionSelectionChanged()">
                              {{region}}
                            </label>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- <div class="row" style="margin-top: 20px;">
                      <div class="col-sm-12"> -->
                        <div class="card-columns">
                          <div class="card border" *ngFor="let article of articles">
                            <!-- <img class="card-img-top" [src]="article.imageUrl" [alt]="article.imageUrl" style="height: 300px" /> -->
                            <div class="card-body" style="height: 160px">
                              <form>
                                <div class="form-row">
                                  <div class="form-group">
                                    <h5>{{ article.title }}</h5>
                                    <p><b>Author: </b>{{ article.author }}</p>
                                    <button class="btn btn-sm btn-success" (click)="articlecontent(article.id)">
                                      Read More
                                    </button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      <!-- </div>
                    </div> -->
                  </div>
                  <div class="card-body" style="padding: 15px" *ngIf="activeTab === 'Image Gallery'">
                    <photos-gallery></photos-gallery>
                  </div>
                  <div class="card-body" style="padding: 15px" *ngIf="activeTab === 'Create Content'">
                    <new-article [mode]="mode" [article]="null"></new-article>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
