<div class="card-body">
  <h3>New Article/Newsletter/Feature</h3>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-row">
          <div [ngClass]="mode === 1 ? 'form-group col-sm-9' : 'form-group col-sm-12'">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title" [(ngModel)]="article.title" required />
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-sm-9">
            <label for="subHeading">Sub Heading</label>
            <input class="form-control" id="subHeading" name="subHeading" [(ngModel)]="article.subHeading" />
          </div>
        </div> -->
        <div class="form-row">
          <div [ngClass]="mode === 1 ? 'form-group col-sm-3' : 'form-group col-sm-4'">
            <label for="author">Author</label>
            <input class="form-control" id="author" name="author" [(ngModel)]="article.author"  required/>
          </div>
          <!-- <div [ngClass]="mode === 1 ? 'form-group col-sm-3' : 'form-group col-sm-4'">
            <label for="region">Region</label>
            <select class="form-control" [(ngModel)]="article.region" name="region" #item>
              <option *ngFor="let region of regions" id="region" [value]="region">{{region}}
              </option>
            </select>
          </div> -->
          <div [ngClass]="mode === 1 ? 'form-group col-sm-3' : 'form-group col-sm-4'">
            <label for="type">Type of content</label>
            <select class="form-control" [(ngModel)]="article.type" name="type" #item>
              <option *ngFor="let type of types" id="type" [value]="type">{{type}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div [ngClass]="mode === 1 ? 'form-group col-sm-9' : 'form-group col-sm-12'">
            <label for="image">Image Url (Copy URL from Image Gallery)</label>
            <input class="form-control" id="image" name="image" [(ngModel)]="article.imageUrl" [required]="true"/>
          </div>
        </div>
        <div class="form-row">
          <div [ngClass]="mode === 1 ? 'form-group col-sm-9' : 'form-group col-sm-12'">
            <label for="blurb">Blurb</label>
            <textarea class="form-control" rows="2" id="blurb" name="blurb" [(ngModel)]="article.blurb"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div [ngClass]="mode === 1 ? 'form-group col-sm-9' : 'form-group col-sm-12'">
            <label for="body">Article Body</label>
            <ngb-tabset>
              <ngb-tab [attr.id]="tab.id" *ngFor="let tab of tabs">
                <ng-template ngbTabTitle>
                  <span (click)="activeTab = tab.title">{{ tab.title }}</span>
                </ng-template>
                <ng-template ngbTabContent *ngIf="activeTab === 'Content in plain text'">
                  <div class="card-body" style="padding: 15px">
                    <div class="row" style="padding-top: 10px">
                      <div class="col-sm-12">
                        <ckeditor [(ngModel)]="article.body" #myckeditor="ngModel" name="ckeditor" required
                          [config]="config" debounce="500" (paste)="onPaste($event)" (change)="onChange($event)">
                        </ckeditor>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template ngbTabContent *ngIf="activeTab === 'Content in HTML'">
                  <div class="card-body" style="padding: 15px">
                    <div class="row">
                      <div class="col-sm-12">
                        <ngx-monaco-editor style="height: 500px; width: 100%" [options]="editorOptions"
                          [(ngModel)]="article.body" name="editor">
                        </ngx-monaco-editor>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-left" *ngIf="mode !== 0">
    <button style="margin:5px" class="btn btn-primary"
      (click)="onSaveArticle()">{{ mode === 1 ? 'Save' : 'Update' }}</button>
    <button class="btn btn-info" *ngIf="mode === 1" (click)="onResetArticle()">Reset</button>
    <button class="btn btn-info" *ngIf="mode === 2" (click)="cancel()">Cancel</button>
  </div>
</div>