<div>
    <div class="card">
      <div class="card-header bg-white">
        <div clas="row">
          <h4 style="display: inline-block;">&nbsp;&nbsp;Contact Us</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical is-6">
          <div class="tile">
            <div class="tile is-parent is-vertical is-8 ">
              <div class="tile is-child box has-background-light">
                <div class="title">
                  <h5 style="text-align:center">Should you need any help, please write to <a href ="mailto:support.codingchallenge2020@credit-suisse.com">GCC Support Team</a> </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>